<div  class="thumbnail">
<div class="img-thumbnail" id="images">
  <a href="#" data-toggle="modal" data-target="#imageShow" ><img [src]="crib.image" alt="crib image"></a>
  

  </div>
  <div class="caption">
    <div *ngIf="!crib.showDetails">
      <h4>
        <span class="label label-primary">
          {{ crib.type }}
        </span>
      </h4>
      <h3>
        <i class="glyphicon glyphicon-tag"></i>
        {{ crib.price | currency:'PGK':true }}/month
      </h3>
      <h4>
        <i class="glyphicon glyphicon-home"></i>
        {{ crib.address }}
      </h4>

      <hr>

      <button class="btn btn-sm btn-success" *ngIf="!crib.showDetails" (click)="crib.showDetails = !crib.showDetails">
        Details
      </button>

      <button (click)="cribDelete()" class="btn btn-danger btn-bg">Delete</button>

    </div>

    <div *ngIf="crib.showDetails">
      <div class="details">
        <h4>
          <span class="label label-primary">
            Beds: {{ crib.bedrooms }}
          </span>
          <span class="label label-primary">
            Baths: {{ crib.bathrooms }}
          </span>
          <span class="label label-primary">
            SqFt: {{ crib.area }}
          </span>
        </h4>

        <p>{{ crib.description }}</p>

        <hr>

        <button class="btn btn-sm btn-danger" (click)="crib.showDetails = !crib.showDetails">
          Close
        </button>

        <button class="btn btn-sm btn-success">
          Update
        </button>
        <button class="btn btn-sm btn-info">
          Show Interest
        </button>


      </div>
    </div>
  </div>
</div>
  
  <!--modal for image display-->
  <div class="modal fade" id="imageShow" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Image Display</h4>
        </div>
        <div class="modal-body">
      
          <img [src]="crib.image"  class="img-responsive" alt="crib image">
          {{crib.type}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <!--end here-->