<!--<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        RALIKU
      </a>
    </div>

    <u class="nav navbar-nav navbar-right">
      <li *ngIf="!isLoggedIn"  data-toggle="modal" data-target="#myModal">
        Login
      </li>
      <li *ngIf="isLoggedIn"><a (click)="logout()">Logout</a></li>
    </u>
  </div>

</nav>-->

<nav class='navbar navbar-default'>

  <div class='container-fluid'>

    <div class='navbar-header'>
      <a routerLink='/home' class='navbar-brand'>RALIKU INVESTMENT</a>
    </div>
    <div>
      <ul class='nav navbar-nav'>
        <li><a routerLink='/teachers'>Property</a></li>
      </ul>
      <ul class='nav navbar-nav'>
        <li><a routerLink='/dashboard'>Stationery|Printing</a></li>
      </ul>
      <div class="container-fluid">
        <ul class='nav navbar-nav navbar-right'>
          <li *ngIf="!isLoggedIn"><a data-toggle="modal" data-target="#myModal">Login</a></li>
          <li *ngIf="isLoggedIn"><a (click)="logout()">Logout</a></li>

          <li><a><img src="assets/images/shane.jpg"  alt="profile image"
                class="profile img-circle img-responsive"></a></li>
        </ul>
      </div>

    </div>


  </div>



</nav>

<div class="container">
  <app-crib-form *ngIf="isLoggedIn"></app-crib-form>
  <app-crib-listing></app-crib-listing>
  <app-auth></app-auth>
</div>